
@font-face {
    font-family: Uni Sans;
    src: url('../fonts/uni-sans/Uni Sans Heavy.otf');
}

body {
    background-image: url(../img/nightgif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    color: white;
    font-size: 60px;
    font-family: Uni Sans;
    text-align: center;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}